{% extends 'layout.html' %}
{% block content %}
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">All products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brand
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in brands %}
              <a class="dropdown-item" href="{{url_for('get_brand', id = brand.id)}}">{{brand.name}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      {% for brand in brands %}
        <a class="dropdown-item" href="{{url_for('get_brand', id = brand.id)}}">{{brand.name}}</a>
      {% endfor %}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- navbar ends -->
<div class="container">
    <div class="row">
        {% if brand %}
        {% for b in brand %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200" >
                <div class="card-body">
                  {% if b.discount > 0 %}
                  <p style="text-shadow: 1px 1px 2px #000; color: red" >{{ b.discount }}</p>
                  {% endif %}
                    <h5 class="text-center">{{b.name}}</h5>
                    <p class="text-center"> Price $ {{b.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-primary">Details</a> <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for product in products %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200" >
                <div class="card-body">
                  {% if product.discount > 0 %}
                  <p style="text-shadow: 1px 1px 2px #000; color: red" >{{ product.discount }}</p>
                  {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center"> Price $ {{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-primary">Details</a> <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}