{% extends 'layout.html' %}
{% block content %}
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">All products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brand
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in brands %}
              <a class="dropdown-item" href="{{url_for('get_brand', id = brand.id)}}">{{brand.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
              <a class="dropdown-item" href="{{url_for('get_category', id = category.id)}}">{{category.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!-- navbar ends -->
<div class="container">
    <div class="row">
        {% if brand %}
        {% for b in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200" >
                <div class="card-body">
                  {% if b.discount > 0 %}
                  <p style="text-shadow: 1px 1px 2px #000; color: red" >{{ b.discount }}</p>
                  {% endif %}
                    <h5 class="text-center">{{b.name}}</h5>
                    <p class="text-center"> Price $ {{b.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-primary">Details</a> <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">
        {% brand.has_prev %}
        <a href="{{url_for('get_brand', id = get_b.id, page=get_cat_prod.prev_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Previus</a>
        {% endif %}
        {% for page_num in brand.iter_pages() %}
        {% if page_num %}
        {% if brand.page == page_num %}
        <a href="{{url_for('get_brand', get_b.id, page=page_num)}}" class="btn btn-info btn-sm mt-3 ">{{page_num}}</a>
        {% else %}
        <a href="{{url_for('get_brand', get_b.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3 ">{{page_num}}</a>
        {% endif %}
        {% else %}
        ........
        {% endif %}
        {% endfor %}
        {% if brand.has_next %}
        <a href="{{url_for('get_brand',get_b.id, page=brand.next_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        <div class="col-md-3 mt-3">
          <div class="card">
              <img src="{{url_for('static', filename='images/' + get_cat.image_1)}}" alt="{{get_cat.name}}" class="card-img-top" height="200" >
              <div class="card-body">
                {% if get_cat.discount > 0 %}
                <p style="text-shadow: 1px 1px 2px #000; color: red" >{{ get_cat.discount }}</p>
                {% endif %}
                  <h5 class="text-center">{{get_cat.name}}</h5>
                  <p class="text-center"> Price $ {{get_cat.price}}</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="float-left btn btn-sm btn-primary">Details</a> <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
              </div>
          </div>
        </div>
    </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col text-center">
          {% if get_cat_prod.has_prev %}
          <a href="{{url_for('get_category', id = get_cat.id, page=get_cat_prod.prev_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Previus</a>
          {% endif %}
          {% for page_num in get_cat_prod.iter_pages() %}
          {% if page_num %}
          {% if get_cat_prod.page == page_num %}
          <a href="{{url_for('get_category', get_cat.id, page=page_num)}}" class="btn btn-info btn-sm mt-3 ">{{page_num}}</a>
          {% else %}
          <a href="{{url_for('get_category', get_cat.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3 ">{{page_num}}</a>
          {% endif %}
          {% else %}
          ........
          {% endif %}
          {% endfor %}
          {% if get_cat_prod.has_next %}
          <a href="{{url_for('get_category',get_cat.id, page=get_cat_prod.next_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Next</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        {% else %}
        {% for product in products.item %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200" >
                <div class="card-body">
                  {% if product.discount > 0 %}
                  <p style="text-shadow: 1px 1px 2px #000; color: red" >{{ product.discount }}</p>
                  {% endif %}
                    <h5 class="text-center">{{product.name}}</h5>
                    <p class="text-center"> Price $ {{product.price}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-primary">Details</a> <a href="#" class="float-right btn btn-sm btn-warning">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col text-center">
          {% if products.has_prev %}
          <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Previus</a>
          {% endif %}
          {% for page_num in products.iter_pages() %}
          {% if page_num %}
          {% if products.page == page_num %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm mt-3 ">{{page_num}}</a>
          {% else %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm mt-3 ">{{page_num}}</a>
          {% endif %}
          {% else %}
          ........
          {% endif %}
          {% endfor %}
          {% if products.has_next %}
          <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm mt-3 ">Next</a>
          {% endif %}
        </div>
      </div>

        {% endif %}
    </div>
</div>

{% endblock content %}